.SecondaryNav2__Parent_Container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .SecondaryNav2__Child_Container {
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
  }
  .SecondaryNav2__Navigation_Container_makeMytrip_logo {
    width: 113px;
    height: 36px;
    cursor: pointer;
  }
  .SecondaryNav2__Navigation_Container {
    display: flex;
    /* border: 1px solid red; */
    width: 902px;
    height: 80px;
    align-items: center;
  }
  .SecondaryNav2__Navigation_Container ul {
    margin-left: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
  .SecondaryNav2__Navigation_Container ul li {
    list-style: none;
    cursor: pointer;
  }
  .SecondaryNav2__Navigation_FlightsImg_div {
    height: 40px;
    width: 42px;
    overflow: hidden;
  }
  .SecondaryNav2__Navigation_FlightsImg {
    width: 180px;
    margin-top: 10px;
    margin-left: 8px;
  }
  .SecondaryNav2__Navigation_HotelsImg_div {
    height: 40px;
    width: 42px;
    overflow: hidden;
  }
  .SecondaryNav2__Navigation_HotelsImg {
    width: 175px;
    margin-left: -33px;
    margin-top: 11px;
  }
  .SecondaryNav2__Navigation_TrainsImg_div {
    height: 40px;
    width: 42px;
    overflow: hidden;
    margin-left: 5px;
  }
  .SecondaryNav2_trian_Img {
    width: 200px;
    margin-left: -120px;
    margin-top: 7px;
  }
  .SecondaryNav2__Navigation_BusesImg_div {
    height: 40px;
    width: 42px;
    overflow: hidden;
  }
  .SecondaryNav2_Buses_Img {
    width: 220px;
    margin-left: -175px;
    margin-top: 6px;
  }
  .SecondaryNav2_LoginSign_div {
    width: 119px;
    height: 58px;
    display: flex;
  }
  .SecondaryNav2_login_btn {
    cursor: pointer;
    border: none;
    margin-right: 50px;
  }
  .SecondaryNav2__Navigation_Container span{
      font-size: 14px;
      margin-left: 5px;
  }