.TravellersAndClass_parent_container{
    position: absolute;
    width: 680px;
    height: 337px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    left: 450px;
    bottom: -200px;
    z-index: 1;
    border-radius: 4px;
    padding: 40px 30px 20px 30px;
}

.TravellersAndClass_child_container_1{
    width: 600px;
    height: 71px;
}
.TravellersAndClass_child_container_1 ul{
    display: flex;
    margin-top: 10px;
}
.TravellersAndClass_p1{
    font-size: 14px;
}
.TravellersAndClass_p2{
    font-size: 12px;
}
.TravellersAndClass_child_container_1 ul li{
    list-style: none;
    width: 36px;
    height: 32px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}
.TravellersAndClass_child_container_2{
    display: flex;
    width: 600px;
    height: 71px;
    margin-top: 50px;
    gap: 30px;
}
.TravellersAndClass_child_container_2 ul{
    display: flex;
    margin-top: 10px;
}
.TravellersAndClass_child_container_2 ul li{
    list-style: none;
    width: 36px;
    height: 32px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}
.TravellersAndClass_button{
    width: 88px;
    height: 32px;
    border-radius: 34px;
    background-image: linear-gradient(96deg, #53b2fe, #065af3);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: none;
    color: white;
    position: relative;
    top: 50px;
    left: 500px;
    cursor: pointer;
}
.active{
    background-color: #53b2fe;
    color: white;
}