.Offers_Parent {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Offers_Child {
  width: 1200px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.23);
  margin-bottom: 100px;
}
.Offers_Navigation_filter {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}
.Offers_Navigation_filter ul {
  display: flex;
  margin-left: 20px;
  gap: 40px;
  align-items: center;
}
.Offers_Navigation_filter h3 {
  font-size: 32px;
}
.Offers_Navigation_filter ul li {
  list-style-type: none;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
.Offers_Parent_filtered_content {
  width: 1160px;
  height: 398px;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  margin-top: 20px;
  overflow-x: scroll;
  flex-wrap: wrap;
  gap: 10px;
  
}
/* .Offers_Parent_filtered_content::-webkit-scrollbar {
    width:0px;
} */
.Offers_filtered_content {
  width: 462px;
  height: 184px;
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.16);
}
.Offers_filtered_content_image_container img {
  width: 140px;
  height: 134px;
  border-radius: 10px;
}
.Offers_filtered_content_details hr{
    width: 30px;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Offers_type{
    font-size: 12px;
    color: gray;
}
.Offers_type2{
    font-size: 14px;
    color: gray;
}
.Offers_OfferText{
    font-size: 18px;
    font-weight: bolder;
}